
@media screen and (max-width: 599px) {
  section.hero,
  section.news.top-news {
    width: 100%;
  }

  .header__title {
    font-size: 2.7em;
  }
}

@media screen and (min-width: 600px) and (max-width: 749px){
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    width: 66.6%;
  }
  section.news{
    width: 33.3%;
  }

  .weather {
    width: 100%;
    order: 1;
  }

  section.recent-news {
    order: 3;
    width: 100%;
  }
  .scores {
    order: 2;
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 999px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    width: 66.6%;
  }
  .news{
    width: 33.3%;
  }

  .weather {
    width: 50%;
    order: 1;
  }

  .recent-news {
    order: 3;
    width: 100%;
  }
  .scores {
    order: 2;
    width: 50%;
  }
}

@media screen and (min-width: 1000px){
  .content {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    width: 100%;
  }
  .news{
    width: 33.3%;
  }

  .weather {
    width: 33.3%;
    order: 1;
  }

  .recent-news {
    order: 3;
    width: 100%;
  }
  .scores {
    order: 2;
    width: 33.3%;
  }
}
